# Dependencies
node_modules/
**/node_modules/

# Production builds
dist/
**/dist/
build/
**/build/

# Environment variables
.env
.env.*
!.env.example
**/.env
**/.env.*
!**/.env.example

# Vite build cache & timestamps
*.timestamp-*
vite.config.js.timestamp-*

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# System & Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo
